table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding: 4px;
    margin: 0;
}
td{
    border: 1px solid black;
    padding: 4px;
    margin: 0;
}
tr:nth-child(odd){
    background: lightblue;
}
tr:first-child{
    background: lightblue;
}
